<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form class="form" [formGroup]="validationsForms" (ngSubmit)="loginUser(validationsForms.value)">
        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message"
                     *ngIf="validationsForms.get('email').hasError(validation.type) && (validationsForms.get('email').dirty || validationsForms.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message"
                     *ngIf="validationsForms.get('password').hasError(validation.type) && (validationsForms.get('password').dirty || validationsForms.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-button class="submit-btn" type="submit" [disabled]="!validationsForms.valid">Log In</ion-button>

        <label class="error-message">{{errorMessage}}</label>
    </form>
    <p class="go-to-register">
        No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
    </p>
</ion-content>
