<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="loginUser(validationsForm.value)" [formGroup]="validationsForm" class="form">
        <ion-item>
            <ion-label color="primary" position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)"
                     class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label color="primary" position="floating">Password</ion-label>
            <ion-input class="form-controll" formControlName="password" required type="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)"
                     class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-button [disabled]="!validationsForm.valid" class="submit-btn" type="submit">Log In</ion-button>

        <label class="error-message">{{errorMessage}}</label>
    </form>
    <p class="go-to-register">
        No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
    </p>
</ion-content>
