<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="tryRegister(validationsForm.value)" [formGroup]="validationsForm" class="form">

        <ion-item>
            <ion-label color="primary" position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)"
                     class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label color="primary" position="floating">Password</ion-label>
            <ion-input class="form-controll" formControlName="password" required type="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)"
                     class="error-message">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>


        <ion-button [disabled]="!validationsForm.valid" class="submit-btn" type="submit">Register</ion-button>
        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>
    <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
</ion-content>
